@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
body
{
  text-align: center;
  margin: auto;
  background-color: #F1D4D4;
}
.container
{
  background-color: #790C5A;
margin: auto;
  text-align: right;
  padding-top:0rem;
}
.is-triangle-label
{
  display: block;
  margin: 2rem auto;
  /* background-color: #CC0E74; */
  height:3rem;
  width:25rem;
  font-size: 2.3rem;
  text-align: center;
  padding: auto;
  /* border-radius: 1rem; */
  border-color: #790C5A
  /* 3: 3rem; */
}
.angle-input
{
  display: block;
  margin: 2rem auto;
  height:3rem;
  width:25rem;
  text-align: center;
  padding: auto;
  border-radius: 1rem;
  font-size: 2.3rem;
  border-color: #790C5A

}
.fun-with-triangles
{
  padding-left: 1rem;
  padding-top: 1rem;
  text-align: left;
  font-size: 2.8rem;
  color: white;
  font-family: 'Rampart One', cursive;
}
button
{
  display: block;
  margin: auto;

}
p
{
  text-align: left;
  margin-top: auto;
}
a

{
  padding: 1rem;
  font-size: 2rem;
color:white;
text-decoration: none;
}
a:hover
{
  color:yellow;
  /* text-decoration: underline; */

}
.the-output
{
  padding-top: 1rem;
  font-size: 2rem;
}
.the-button
{
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
}
.quiz-question{
font-size: 2rem;
text-align: center;
display: block;
/* width:75%; */

}
.radio-btn
{
  /* text-align: center; */
  font-size: 2rem;
  padding-bottom: 2rem;
  /* width:75%; */
}
